{# core/templates/pages/about.html #}
{% extends 'base.html' %}

{% block content %}
  <div class="about__container">
    <div class="about__heading">
      <h1 class="about_title">About</h1>
    </div>

    <div class="about__content">
      <p>Pinfold is a self-hosted platform for bookmarking images from the web.</p>
    </div>
    <div class="about__footer">
      <div class="support__info">
        <section class="support__info-mail">
          <p>support@pinfold.app</p>
        </section>
        <section class="support__info-phone">
          <p>+1 (555) 123-4567</p>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
